body{
    margin: 0;
    background-color: #f5f8fa;
    

}


    .layout-container{
        background-color: rgb(209, 215, 224);
        margin: 0;
        padding: 20px;
        min-height: 100vh;
        display: flex;
        flex-direction: column;
        

    }
    .p-2{
        position: relative;
        text-decoration: none;
        color: white;
        padding-bottom: 4px;
        transition: color 0.3s;
        
        
    }
    .p-2::after{
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        width: 50%;
        height: 2px;
        background-color: rgb(237, 89, 3);
        transition: width 0.3s;
    }
    .p-2:hover::after {
  width: 100%;
}
    #searchBox{
        max-width: 300px;
         position: relative;
        

    }
    hr{
        border: none;

    }
main{
    flex: auto;
}
    