
.myPicture{
    font-size: 45px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }



.interaction-buttons {
  display: flex;
  gap: 20px;
  margin-left: 50px;
  
}

.interaction-buttons button {
  background: none;
  border: none;
  padding: 10px 0;
  font-size: 16px;
  cursor: pointer;
  color: #555;
  border-bottom: 2px solid transparent; /* Boş alt çizgi */
  transition: border-color 0.3s, color 0.3s;
}

.interaction-buttons button:hover {
  color: #000;
}

.interaction-buttons .active-tab {
  color: #000;
  border-bottom: 2px solid rgb(218, 83, 16); /* Aktif tab alt çizgisi */
}


