.active-tab {
  
  font-weight: bold;
  padding-bottom: 4px;
  
  
}
.myPicture{
    font-size: 45px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
  }



.interaction-buttons button {
  background: none;
  border: none;
  font-size: 16px;
  padding: 10px 15px;
  cursor: pointer;
 
}

.interaction-buttons button:hover {
  border-bottom: 2px solid gray;
}
