.topbar{
  background-color: rgb(255, 255, 255, 0.3);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 0%;
  border: none;
  display: flex;
  height: 100px;
}
.ms-auto {
  position: relative;
  text-decoration: none;
  padding-right: 30px;
  transition: 0.3s;
  padding-bottom: 10px;
}

.ms-auto:hover::after {
  width: 100%;
  
}

.offcanvas-body {
  background-color: rgba(205, 201, 201, 0.782);
  backdrop-filter: blur(10px);
}

.offcanvas-header {
  background-color: rgb(214, 209, 208);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.hesabım {
  text-decoration: none;
  color: black;
}

.hesabım:hover {
  color: rgb(218, 83, 16);
}

.ayarlar {
  text-decoration: none;
  color: black;
}

.ayarlar:hover {
  color: rgb(218, 83, 16);
}
 
.btn.btn-danger {
  background-color: rgb(0, 0, 0);
  border: none;
}





.btn.btn-danger:hover {
  background-color: white;
  color: black;
}

.offcanvas-container {
  position: relative;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 40vh;
  padding: 0 40px;
}


.user-carousel-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}

.user-preview {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 140px;
 
 
  
}


.user-preview p {
  margin: 5px 0;
  font-weight: bold;
  text-align: center;
  color: #333;
  word-break: break-word;
}

.user-active {
  position: relative;
  width: 500px;
  height: 500px;
  padding: 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  
  backdrop-filter: blur(10px);                 
  -webkit-backdrop-filter: blur(10px); 
      

}

.user-profile-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-profile-info img {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  object-fit: cover;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.user-profile-info p {
  font-weight: bold;
  margin-top: 8px;
  color: #222;
}

.TopBar-buttons{
  display: flex;
  gap: 20px;
  margin-left: 28%;
}
.TopBar-button {
  text-decoration: none;
  color: black;
  padding: 10px;
  position: relative;
}

.TopBar-button.active::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(218, 83, 16);
}





