
.topbar{
  background-color: rgb(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  margin-top: 0%;
  border: none;
  display: flex;
  height: 100px;
}
.ms-auto {
  position: relative;
  text-decoration: none;
  padding-right: 30px;
  transition: 0.3s;
  padding-bottom: 10px;
}









.offcanvas-body {
  background-color: rgba(205, 201, 201, 0.782);
  backdrop-filter: blur(10px);
}

.offcanvas-header {
  background-color: rgb(214, 209, 208);
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.hesabım {
  text-decoration: none;
  color: black;
}
.hesabım:hover {
  color: rgb(218, 83, 16);
}
.ayarlar {
  text-decoration: none;
  color: black;
}
.ayarlar:hover {
  color: rgb(218, 83, 16);
}






.btn.btn-danger:hover {
  background-color: white;
  color: black;
}

.offcanvas-container {
  position: relative;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 40vh;
  padding: 0 40px;
}
.FormSelect {
  background-color: white;
  color: rgba(245, 82, 0, 0.701);
  height: 32px;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 6px;
  width: 150px;
  transition: 0.15s;
}
  .myPicture{
    font-size: 45px;
    text-decoration: none;
    color: black;
    margin-left: 10px;
    margin-left: 20px;
  }


.FormSelect:hover{
    color: white;
    background-color:rgba(245, 82, 0, 0.701);
}
p{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}










.photo-container {
  position: relative;
  display: inline-block;
  transition-duration: 0.2s;
}
.photo-container:hover{
  transform: scale(1.2);
  z-index: 1;
  
}
.Photos{
  margin-left: 18%;
}


.photo-container button {
  opacity: 0;                      
  transition: opacity 0.3s ease;
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: rgba(5, 2, 2, 0.7);
  border: none;
  color: white;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.photo-container:hover button {
  opacity: 1;
}
