.ms-auto {
    position: relative;
    text-decoration: none;
    padding-right: 30px;
    transition: 0.3s;
    padding-bottom: 10px;
     
    
}

.ms-auto::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 4
    
    
    0%;
    height: 2px;
    background-color: rgb(237, 89, 3);
    transition: width 0.3s ;
}
.ms-auto:hover::after {
  width: 100%;
}
.ms-auto logout{
    
}