.slider-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px auto;
  padding: 20px;
  background: rgba(255, 255, 255, 0.15); /* saydam beyaz */
  border-radius: 16px;
  max-width: 90%;
  backdrop-filter: blur(12px); /* BUZLU CAM ETKİSİ */
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
}

.slider-container {
  display: flex;
  gap: 16px;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.slider-container::-webkit-scrollbar {
  display: none;
}

.slider-image {
  width: 180px;
  height: 120px;
  object-fit: cover;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: none;
}



.arrow {
  background: rgba(255, 255, 255, 0.3);
  color: #000;
  border: none;
  font-size: 28px;
  padding: 12px 14px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
  transition: background-color 0.2s ease;
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.arrow:hover {
  background: rgba(255, 255, 255, 0.5);
}

.arrow.left {
  margin-right: 14px;
}

.arrow.right {
  margin-left: 14px;
}
